@model homecoming.webapp.ViewModel.RoomViewModel
@{
    ViewData["Title"] = "AddRoom";
}



<div class="col-md-12 mx-auto pt-0 p-0 custom-border-shadow">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white" style="height:45px">
            <h4 class="text-center">Add Room To Accomodation</h4>
        </div>

        <form asp-action="AddRoom" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <section style="padding:4px">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageList" class="control-label"></label>
                            <input asp-for="ImageList" class="form-control" />
                            <span asp-validation-for="ImageList" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="margin-top:40px;">
                            <input type="submit" value="Create Room" class="btn btn-primary" />
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <section>
                        <table class="table table-striped table-sm" id="infoTable" style="padding:4px">
                            <thead>
                                <tr>
                                    <th>
                                        Bedroom Type
                                    </th>
                                    <th>
                                        Number Of Beds
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Television
                                    </th>
                                    <th>
                                        Aircon
                                    </th>
                                    <th>
                                        Ensuite
                                    </th>
                                    <th>
                                        Wifi
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                    <tr>
                                        <td>
                                            <select style="margin-top:5px" asp-for="RoomDetails.BedRoomTypes.BedRoom" asp-items="@(new SelectList( ViewBag.bedrooms,"BedRoom","BedRoom"))"></select>
                                        </td>
                                        <td>
                                            <select style="margin-top:5px" asp-for="RoomDetails.NumberOfBeds" asp-items="@(new SelectList( ViewBag.numberOfRooms))"></select>
                                        </td>
                                        <td>
                                            @Html.EditorFor(x => x.RoomDetails.Description, new { htmlAttributes = new { @class = "form-control description-box" } })
                                        </td>
                                        <td>
                                            @Html.EditorFor(x => x.RoomDetails.Television, new { htmlAttributes = new { @class = "form-control check-dm" } })
                                        </td>
                                        <td>
                                            @Html.EditorFor(x => x.RoomDetails.Air_condition, new { htmlAttributes = new { @class = "form-control check-dm" } })
                                        </td>
                                        <td>
                                            @Html.EditorFor(x => x.RoomDetails.Private_bathroom, new { htmlAttributes = new { @class = "form-control check-dm" } })

                                        <td>
                                            @Html.EditorFor(x => x.RoomDetails.Wifi, new { htmlAttributes = new { @class = "form-control check-dm" } })
                                        </td>
                                        <td>
                                        </td>
                                    </tr>                              
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </form>
    </div>
</div>
<input type="hidden" id="hdnLastIndex" value="0" />

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}

  
